<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each videos}}
                <li class="list-group-item">
                    <div class="lead">
                        <a href="/videos/{{this._id}}" class="lead">{{this.title}}</a>
                    </div>
                    <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                    <a href="/users/{{this.author.username}}"><div><small>{{this.author.username}}</small></div></a>

                    <div class="text-right">
                        <a href="/n/{{this.genre}}">{{this.genre}}</a>
                    </div>
                    <form class="vote-up" data-id="{{this._id}}">
                        <button type="submit">Vote Up</button>
                    </form>
                    <p>                 
                {{this.voteScore}}
                    </p>
                    <form class="vote-down" data-id="{{this._id}}">
                        <button type="submit">Vote Down</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    </div>

</div>